body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

h1 {
	color: orange;
}

h2 {
	color: crimson;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

#bananaDuck {
	max-width: 200px;
	margin-right: 20px;
}

#welcome {
	display: flex;
	justify-content: space-around;
}

.formButton {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}

fieldset {
	margin-top: 5px;
}

label {
	padding-left: 3px;
}

#profilePic {
	max-width: 200px;
	float: left;
	padding-right: 10px;
}

#profileForm {
	padding: 5px;
}

.favoriteButton {
	background-color: yellow;
	width: 150px;
	height: 50px;
	font-size: large;
	color: black;
	font-weight: bold;
	border-radius: 20px;
}